@font-face {
  font-family: "BebasNeue Light";
  src: url("./assets/fonts/BebasNeue\ Light.otf");
}
@font-face {
  font-family: "BebasNeue Regular";
  src: url("./assets/fonts/BebasNeue\ Regular.otf");
}
@font-face {
  font-family: "BebasNeue Bold";
  src: url("./assets/fonts/BebasNeue\ Bold.otf");
}

$highlight-color: #64eebc;
$fill-color: #242424;
$animation-delay: 500ms;
$hover-animation-duration: 200ms;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: uppercase; // sacar instancias de esta verga en el CSS
  letter-spacing: 4px;
}

.font_light {
  font-family: "BebasNeue Light";
}
.font_bold {
  font-family: "BebasNeue Bold";
}

p {
  font-size: 1rem;
}

body {
  font-family: "BebasNeue Regular";
  background-color: $fill-color;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@keyframes bg_test {
}

.homepage_container {
  display: grid;
  min-height: 100vh;
  padding: 2rem 5rem;
  background: linear-gradient(
    0deg,
    rgba($color: #000, $alpha: 0.3) 70%,
    rgba($color: #000, $alpha: 1) 100%
  );
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr 10%;
  gap: 0.2rem;
  row-gap: 1rem;
}

.grid_layout {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.homepage_movie {
  opacity: 0;
  grid-column: 1 / 10;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  animation: fade_in 0.5s ease-in-out forwards;
}

.homepage_movie > p {
  position: relative;
  display: block;
  z-index: 1;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    animation: bg_fill_before 0.75s ease-in-out forwards;
    animation-delay: $animation-delay;
  }
}

.homepage_movie--name {
  font-size: 120px;
  letter-spacing: 16px;
  line-height: 120px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 16px;
  margin-bottom: 1.5rem;
  color: $highlight-color;
}

.homepage_movie--button_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.homepage_movie--button {
  height: 50px;
  width: 220px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff;
  cursor: pointer;
}

.button--play {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
  transition: color $hover-animation-duration ease-out;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $fill-color;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 0%;
    background-color: $highlight-color;
    // opacity: 0.5;
    transition: height $hover-animation-duration ease-out;
    z-index: -1;
  }
  &:hover {
    color: $fill-color;

    &::after {
      border: 1px solid $highlight-color;
      height: 100%;
    }
  }
}

.button--add {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba($color: $fill-color, $alpha: 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all $hover-animation-duration ease-out;
  transition-property: color, background-color, border;

  &:hover {
    color: $fill-color;
    background-color: $highlight-color;
    border: 1px solid $fill-color;
  }

  img {
    width: 0.9rem;
  }
}

.notification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 280px;
  bottom: 10%;
  left: 50%;
  margin-left: -140px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: $highlight-color;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  box-shadow: 0px 5px 10px rgba($color: #000, $alpha: 0.3);
  animation: fade_in 100ms ease-in-out;
}

.notification_close {
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.popular_movies {
  grid-column: 11 / 13;
  grid-row: 2 / 4;
  max-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  animation: fade_in 0.5s ease-in-out forwards;
}

.popular_movies--content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  cursor: pointer;
  padding: 0.2rem;
  background-color: rgba($color: $fill-color, $alpha: 0.6);
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff;
  font-family: "BebasNeue Regular";
  font-size: 1rem;
  transition: all $hover-animation-duration ease-out;
  transition-property: background-color, color;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid $highlight-color;
    transition: transform 250ms ease-out;
    transform: scaleX(0);
  }

  &:hover {
    background-color: $fill-color;
    color: $highlight-color;

    &::before {
      transform: scaleX(1);
    }
  }
}

.dropdown_menu {
  position: absolute;
}

a {
  text-decoration: none;
  color: #fff;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  position: fixed;
  z-index: 2;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  animation: fade_in 200ms ease-out forwards;
}

.modal--content {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 16px;
  width: 730px;
  min-height: 440px;
  max-width: 80%;
  background-color: $fill-color;
  animation: fade_in_down 200ms ease-out forwards;
}

.modal--title {
  grid-column: 2 / 3;
  grid-row: 0 / 1;
  font-size: 20px;
  font-weight: lighter;
  color: $highlight-color;
}

.modal--close {
  grid-column: 3 / 4;
  grid-row: 0 / 1;
  align-self: flex-start;
  justify-self: flex-end;
  cursor: pointer;
  font-size: 20px;
  transition: all 150ms ease-in-out;
  transition-property: transform, color;
  &:hover {
    transform: scale(1.2);
    color: $highlight-color;
  }
}

.modal--input_img {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: "BebasNeue Light";
  font-size: 16px;
  width: 100%;
  height: 100px;
  border: 1px dashed white;

  & > #image_upload {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  &.modal--clip {
    width: 50px;
    height: 50px;
  }
}

.modal--input_text {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 248px;
  padding: 10px 0;
  font-family: "BebasNeue Light";
  font-size: 16px;
  text-align: center;
  letter-spacing: 4px;
  color: white;
  background-color: $fill-color;
  border: none;
  border-bottom: 1px solid white;

  &:focus {
    outline: 0px solid;
    &::placeholder {
      opacity: 0.5;
    }
  }

  &::placeholder {
    color: white;
  }
}

.modal--button {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  width: 248px;
  height: 56px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  color: #000;
  font-family: "BebasNeue Regular";
  letter-spacing: 4px;
  cursor: pointer;
}

.modal--submitted {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_in_down {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes bg_fill_before {
  to {
    width: 100%;
  }
}
